@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
  background-image: url('../public/assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  background-image: url('../public/assets/bgPig.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.work{
  background-image: url('../public/assets/pigg.png');
  background-color: #ffffffd3;
}